.subscribe_conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_first {
  font-weight: 700;
  font-size: 48px;
}
.text_second {
  font-size: 20px;
  color: gray;
}

.sub_btn_noactive {
  width: 150px;
  height: 40px;
  color: grey;
  font-size: 20px;
  font-weight: 500;
  background: none;
  border: none;
  border-bottom: solid 2px grey;
}

.sub_btn_active {
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  background: none;
  border: none;
  color: green;
  border-bottom: solid 4px green;
}

.plan_card_container {
  display: flex;
  justify-content: center;
  width: 100wh;
}

.section_plan_container {
  display: flex;
  width: 50%;
}

.first_card_container {
  width: 35%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid;
}

.first_price_container {
  display: flex;
  justify-content: center;
}

.second_card_container {
  width: 35%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid;
}

.second_price_container {
  display: flex;
  justify-content: center;
}

.third_card_container {
  width: 35%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid;
}

.third_price_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  font-weight: 100;
  color: gray;
  font-size: 16px;
}
