.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav_logo_links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav_singin_account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn_singin {
  padding: 10px 20px;
  background: transparent;
  border-radius: 10px;
  border: none;
}
.btn_singin:hover {
  background: gray;
}
.account_button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: black;
}
